@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-figtree antialiased bg-background text-foreground;
  }

  .truncate {
    overflow: hidden;
    /* text-overflow: clip; */
    white-space: break-spaces !important;
    text-align: left !important;
  }
}